@media (max-width: 1000px) {
    .mainSection {
      flex-wrap: wrap;
      height: auto;
      padding: 10vw;
    }
    .mainSection__form {
        margin-top: 10vw;
    }
    
    .suppSection {
        padding: 50px 0vw;
        flex-direction: column;
        justify-content: center;
    }
    
    .suppSection__rightBox {
        margin: 10px auto;
    }
    
    .suppSection__leftBox {
        width: 90vw;
    }
    
    .suppSection__image {
        margin: 0px auto;
        display: block;
        width: 70vw;
        max-width: 300px;
    }
    .FAQ__logo {
        display: none;
    }
    .FAQ__content {
        max-width: 90vw;
        flex-direction: column;
        padding: 5vw;
    }
    .Questions {
        max-width: 100%;
        margin-left: 0px;
    }
    .FAQ__header {
        padding: 50px 0px 50px 7vw;   
    }
    
  }

@media (max-width: 600px) {
    .mainSection__form {
        padding: 5vw;
        width: 90vw;
    }
    .mainSection__leftSide, .mainSection__logo, .navigation {
        width: 90vw;
    }
    .alertBar {
        padding: 5vw;
        text-align: center;
        align-items: center;
    }
    .stepsSection {
        padding: 50px 5vw;
    }
    .stepsSection__steps {
        flex-wrap: wrap;
        width: 90vw;
    }
    .stepsSection__stepbox {
        width: 80vw;
        margin-top: 25px;
    }
    .footer__top {
        width: 100vw;
        flex-direction: column;
        text-align: center;
    }
    .footer__list:first-child {
        margin-top: 0px;
    }
    .footer__list {
        margin-top: 15px;
    }
    .footer__list-header {
        font-size: 1.1em;
    }
    .main404Section {
        margin-bottom: 100px;
    }
}

@media (max-width: 1300px) {
    .services {
        padding: 50px 0px 50px;
    }
    .services__box {
        padding: 10px 0px;
        width: 100vw;
        position: static;
        margin: 20px auto;
    }
    .services__serviceBox {
        position: relative;
        margin-top: 30px;
        width: 100%;
        height: auto;
        max-width: 400px;
        margin: 50px auto 0px;
    }
    .services__comp-logo {
        display: none;
    }
    .services__service-icon {
        position: absolute;
        padding: 10px 5px 5px;
        font-size: 2rem;
    }
    .services__service-icon--1, .services__service-icon--2, .services__service-icon--3, .services__service-icon--4, .services__service-icon--5 {
        top: -25px;
        left: 10px;
        bottom: auto;
        right: auto;
    }
    .services__box--1, .services__box--2, .services__box--3, .services__box--4, .services__box--5 {
        top:auto;
        left:auto;
        bottom: auto;
        right: auto;
    }
}