/* variables */ 
:root {
    --main-red-color: #de4b4b;
    --main-darker-red-color : #dd3f5f;
    --main-brighter-red-color : #ff4f4f;
    --main-orange-color: #e58231;
    --main-violet-color : #7371d5;
    --main-lime-color: #36ffa3;
    --main-black-color: #000;
    --main-gray-color : #464646;
    --main-darker-gray-color: #303234;
    --main-white-color: #fafbfe;
    --main-font: 'Myriad Pro Regular';
    --main-font-bolded: 'Myriad Pro Bold';
}

* {
    padding: 0px;
    margin: 0px;
}
.navigation {
    font-family: var(--main-font);
    display: flex;
    padding: 5px 5vw;
    align-items: center;
    justify-content: space-between;
}
.navigation__logo {
    max-width: 125px;
}
.navigation__leftBox {
    display: flex;
    align-items: center;
}
.navigation__list {
    list-style-type: none;
    margin-left: 50px;
}
.navigation__item {
    display: inline;
    margin-right: 20px;
}
.navigation__link {
    color: var(--main-red-color);
    text-decoration: none;
    font-size: 0.9rem;
}
.navigation__link--bolded {
    text-decoration: underline;
    font-family: var(--main-font    );
    font-weight: bold;
}
.navigation__link:hover {
    color: var(--main-gray-color);
    transition: 0.3s;
}
.mainSection {
    max-width: 1920px;
    margin: 0px auto;
    height: 725px;
    background-image: url('../imgs/Section1_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    padding: 150px 150px 0px 150px;
}
.mainSection__leftSide {
    font-family: var(--main-font);
    color: #fff;
}
.mainSection__logo {
    max-width: 450px;
}
.mainSection__desc {
    text-align: left;
    max-width: 450px;
}
.mainSection__header {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 2.5rem;
    letter-spacing: 0.1rem;
}
.mainSection__form { 
    background-color: #f7f7f7;
    font-family: var(--main-font);
    width: 440px;
    border-radius: 7px;
    padding: 40px;
    box-sizing: border-box;
}
.mainSection__form-header {
    text-align: center;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--main-darker-gray-color);
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--main-darker-gray-color);
    margin-bottom: 30px;
}
.mainSection__form--label {
    font-size: 0.8rem;
    display: block;
    margin: 25px 0px 10px;
    font-weight: 600;
}
.mainSection__form--input {
    width: 100%;
    height: 35px;
    border-radius: 6px;
    border: 1px solid #a0a0a0;
    padding: 10px;
    box-sizing: border-box;
}
.mainSection__SubmitBtn {
    background-color: var(--main-red-color);
    border-radius: 5px;
    width: 100%;
    padding: 15px 0px;
    color: #fff;
    margin-top: 30px;
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 1rem;
}
.mainSection__SubmitBtn:hover {
    
    background-color: var(--main-darker-red-color);
    transition: 0.3s;
    cursor: pointer;
}
.alertBar {
    background-color: var(--main-brighter-red-color);
    display: flex;
    justify-content: center;
    padding: 20px 0px 15px;
    font-size: 0.8rem;
    font-family: var(--main-font);
    font-weight: 600;
}
.alertBar__p {
    color: #fff;
}
.alertBar__btn {
    color: #a61010;
    text-decoration: none;
    margin-left: 10px;
}
.alertBar__btn:hover {
    color: rgb(233, 233, 233);
    transition: 0.3s;
}
.stepsSection {
    padding-top: 70px;
    background-color: #f9f9f9;
    padding-bottom: 100px;
}
.stepsSection__header1 {
    color: #838383;
    font-family: var(--main-font);
    letter-spacing: 0.1em;
    font-size: 1.5em;
    text-align: center;
}
.stepsSection__header2 {
    margin-top: 20px;
    color: #838383;
    font-family: var(--main-font);
    font-weight: lighter;
    letter-spacing: 0.1em;
    font-size: 1.1em;
    text-align: center;
}
.stepsSection__steps {
    display: flex;
    justify-content: space-around;
    width: 60vw;
    margin: 50px auto 50px;
}
.stepsSection__stepHerader {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.stepsSection__stepbox {
    width: 300px;
    background-color: rgb(255, 255, 255);
    padding: 30px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 5px;
}
.stepsSection__septitle {
    color: #838383;
    font-family: var(--main-font);
    font-size: 1.1em;
}
.stepsSection__sepnum {
    background-color: var(--main-red-color);
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 3px 3px 1px;
    color: #fff;
    font-family: var(--main-font);
    display: flex;
    align-items: center;
    justify-content: center;
}
.stepsSection__icon {
    color: var(--main-red-color);
    font-size: 5.5rem;
    margin: 30px auto;
    display: block;
}
.stepsSection__stepFakeBtn {
    font-family: var(--main-font);
    color: #fff;
    background-color: var(--main-red-color);
    font-size: 1em;
    padding: 10px;
    border-radius: 5px;
}
.stepsSection__Btn {
    text-decoration: none;
    color: #fff;
    background-color: var(--main-gray-color);
    font-family: var(--main-font);
    padding: 10px 30px 5px;
    border-radius: 3px;
    font-size: 1.5em;
    text-align: center;
    margin: 0px auto;
    display: block;
    width: 200px;
    box-sizing: border-box;
    border: 1px dashed var(--main-gray-color);
}
.stepsSection__Btn:hover {
    background-color: #f9f9f9;
    color: var(--main-gray-color);
    transition: 0.3s;
}
.suppSection {
    background-color: #4c4c4c;
    padding: 150px 300px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}
.suppSection__question {
    color: rgb(228, 228, 228);
    font-family: var(--main-font);
    text-align: center;
    margin-top: 50px;
}
.suppSection__header { 
    color: #fff;
    font-family: var(--main-font);
    letter-spacing: 0.2rem;
    font-size: 2rem;
    margin-bottom: 10px;
}
.suppSection__desc {
    color: #e8e8e8;
    font-family: var(--main-font);
    width: 350px;
    font-size: 0.8rem;
    letter-spacing: 2px;
}
.suppSection__rightBox {
    margin-left: 100px;
}
.stepsSection__link {
    color: var(--main-violet-color);
    font-family: var(--main-font);
    background-color: #fff;
    font-size: 0.9em;
    padding: 7px;
    border-radius: 5px;
    text-decoration: none;
    text-align: right;
    display: block;
    margin-top: 20px;
    font-weight: bolder;
}
.stepsSection__link:hover {
    color: var(--main-darker-red-color);
    transition: 0.5s;
}
.footer {
    color: var(--main-violet-color);
    font-family: var(--main-font);
}
.footer__list-link, .footer__list-item {
    color: var(--main-violet-color);
    text-decoration: none;
    font-size: 0.8rem;
}
.footer__list-item {
    margin-top: 5px;
}
.footer__list-link:hover {
    color: #120fbb;
    transition: 0.3s;
}
.footer__top {
    display: flex;
    margin: 50px auto 30px;
    justify-content: space-evenly;
    width: 70vw;
}
.footer__list-header {
    font-size: 0.9em;
    font-weight: bold;
}
.footer__list {
    list-style-type: none;
}
.footer__bottom {
    padding: 20px 0px;
}
.footer__bottom-text {
    font-size: 0.9rem;
    text-align: center;
}
.services {
    background-color: #fff;
    padding: 100px;
}
.services__header {
    color: #838383;
    font-family: var(--main-font);
    letter-spacing: 0.1em;
    font-size: 1.5em;
    text-align: center;
}
.services__box {
    position: relative;
    width: 500px;
    margin: 200px auto;
}
.services__comp-logo {
    width: 100%;
}
.services__service-title {
    font-size: 1.3em;
    letter-spacing: 0.1em;
}
.services__service-desc {
    line-height: 1.5em;
    font-size: 0.9em;
    margin-top: 10px;
}
.services__service-icon {
    font-size: 2.5rem;
    position: absolute;
    color: var(--main-red-color);
    background-color: #fff;
    padding: 15px;
    border-radius: 50%;
}
.services__serviceBox {
    position: absolute;
    width: 380px;
    height: 160px;
    color: #fff;
    background-color: var(--main-red-color);
    font-family: var(--main-font);
    text-align: center;
    box-sizing: border-box;
    padding: 30px 30px;
    border-radius: 10px;
}
.services__service-icon--1 {
    bottom: -30px;
    right: -45px;
}
.services__service-icon--2 {
    top: -30px;
    right: -45px;
}
.services__service-icon--3 {
    top: -30px;
    left: -45px;
}
.services__service-icon--4 {
    bottom: 40px;
    left: -65px;
}
.services__service-icon--5 {
    bottom: -55px;
    right: 200px;
}
.services__box--1 {
    top:50px;
    left:-360px;
}
.services__box--2 {
    top:420px;
    left:-300px;
}
.services__box--3 {
    top:420px;
    right:-280px;
}
.services__box--4 {
    top:80px;
    right:-380px;
}
.services__box--5 {
    top:-165px;
    left:90px;
}

/* LOGIN */ 
.mainSection__form-header--login {
    color : var(--main-violet-color);
    text-align: left;
    font-weight: 400;
}

.mainSection__checkbox {
    margin-top: 20px;
    margin-left: 5px;
}
.mainSection__checkbox-label {
    color: var(--main-violet-color);
    font-size: 0.8rem;
    margin-left: 5px;
}
.mainSection__SubmitBtn--login {
    background-color: var(--main-violet-color);
    margin-top: 15px;
}

.mainSection__create-new-accountBtn {
    font-size: 0.8rem;
    text-align: center;
    color: var(--main-gray-color);
    margin-top: 15px;
}

.mainSection__new-account-link {
    text-decoration: none;
    color: var(--main-violet-color);
    font-weight: 600;
}

.mainSection__new-account-link:hover {
    color: rgb(96, 25, 138);
    transition: 0.3s;
}
.mainSection__form--login {
    padding-bottom: 25px;
}

/* FAQ */
.FAQ__content {
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
}
.FAQ__header {
    font-family: var(--main-font);
    color: #fff;
    background-color: var(--main-red-color); 
    font-weight: 400;
    padding: 50px 0px 50px 7vw;   
}

.Questions {
    max-width: 800px;
    color: var(--main-red-color);
    font-family: var(--main-font);
    margin-left: 7vw;
}
.Question__section-topic {
    margin: 50px 0px 25px;
    border-bottom: 1px solid #dd3f5f;
    padding-bottom: 10px;
}
.Questions__Question {
    font-size: 1.3em;
    margin-top: 25px;
}
.Questions__Answer {
    color: #aa2e2e;
    margin-top: 10px;
    font-size: 1rem;
}
.FAQ__logo {
    max-width: 400px;
    margin-right: 10vw;
}
/* 404 PAGE */

.main404Section {
    max-width: 600px;
    margin: 0px auto 30vh;
    padding: 50px 5vw;
    
}
.main404Section__logo {
    max-width: 200px;
    margin: 0px auto;
    display: block;
}
.main404Section__header1 {
    font-family: var(--main-font);
    color: var(--main-darker-red-color);
}

.main404Section__header2 {
    font-family: var(--main-font);
    color: var(--main-gray-color);
    font-size: 1rem;
    font-weight: 400;
}
.main404Section__home-link {
    font-family: var(--main-font);
    color: var(--main-brighter-red-color);
    text-decoration: none;
    display: block;
}
.main404Section__home-link:hover {
    color: var(--main-violet-color);
    transition: 0.3s;

}
.main404Section__logo, .main404Section__header1, .main404Section__header2, .main404Section__home-link {
    margin-top: 20px;
}