:root {
    --main-red-color: #de4b4b;
    --main-darker-red-color : #dd3f5f;
    --main-brighter-red-color : #ff4f4f;
    --main-orange-color: #e58231;
    --main-violet-color : #7371d5;
    --main-lime-color: #36ffa3;
    --main-black-color: #000;
    --main-gray-color : #464646;
    --main-darker-gray-color: #303234;
    --main-white-color: #fafbfe;
    --main-font: 'Myriad Pro Regular';
    --main-font-bolded: 'Myriad Pro Bold';
}

* {
    padding: 0px;
    margin: 0px;
}

/* nagivation bar */
.up_navigation {
    font-family: var(--main-font);
    display: flex;
    padding: 5px 0vw 5px 3vw;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0px 0px rgba(0,0,0,0.05), 
              0 1px 1px rgba(0,0,0,0.05), 
              0 2px 2px rgba(0,0,0,0.05), 
              0 2px 2px rgba(0,0,0,0.05),
              0 4px 4px rgba(0,0,0,0.05);
}
.up_navigation__logo {
    max-width: 125px;
}
.up_navigation__leftBox {
    display: flex;
    align-items: center;
}
.up_navigation__list {
    list-style-type: none;
    margin-left: 50px;
}
.up_navigation__item {
    display: inline;
    margin-right: 20px;
}
.up_navigation__link {
    color: var(--main-red-color);
    text-decoration: none;
    font-size: 0.9rem;
}
.up_navigation__link--bolded {
    text-decoration: underline;
    font-family: var(--main-font);
    font-weight: bold;
}
.up_navigation__link:hover {
    color: var(--main-gray-color);
    transition: 0.3s;
    cursor: pointer;
}
.up_navigation--email {
    font-family: var(--main-font);
    color: var(--main-red-color);
    font-size: 0.9rem;
}
.up_mainSection {
    display: flex;
    margin-top: 10px;
}
.up_mainSection__header {
    font-family: var(--main-font);
    margin-top: 20px;
    color: var(--main-gray-color);
}
.up_mainSection__menu {
    width: 250px;
    margin-left: 10px;
}
.up_mainSection__menu-list {
    list-style-type: none;
}
.up_mainSection__menu-item-link {
    color: var(--main-violet-color);
    width: 100%;
    display: block;
    padding: 10px 0px 10px 20px;
    box-sizing: border-box;
    cursor: pointer;
}
.up_mainSection__menu-item {
    width: 90%;
    margin-top: 10px;
}
.up_mainSection__menu-item:first-child {
    margin-top: 0px;
    padding: 0px;
    padding-left: 0px;
}
.up_mainSection__menu-item:nth-child(2) {
    margin-top: 20px;
}
.up_mainSection__menu-item-link:hover {
    background-color: rgb(238, 238, 238);
    color: rgb(141, 141, 141);
}
.up_menu-item-link-active {
    background-color: rgb(238, 238, 238);
    color: rgb(141, 141, 141);
}
.up_mainSection__upBtn {
    font-family: var(--main-font-bolded);
    border: 0px;
    background-color: var(--main-violet-color);
    color: #fff;
    padding: 20px 0px;
    width: 100%;
    border-radius: 5px;
    border: 2px dashed var(--main-violet-color);
    cursor: pointer;
    font-size: 1rem;
}

.up_mainSection__upBtn:hover {
    background-color: #fff;
    color: var(--main-violet-color);
    transition: 0.3s;
}
.up_mainSection__f-space-info {
    margin-top: 25px;
}
.up_mainSection__f-space-h {
    font-size: 1rem;
    color: var(--main-violet-color);
}
.up_mainSection__f-space-details {
    margin-top: 5px;
    font-size: 0.8rem;
}
/* files boxes*/
.up_mainSection__files-box {
    width: calc(95vw - 250px);
    min-height: 80vh;
}
.up_mainSection__file-list {
    list-style-type: none;
}
.up_mainSection__file {
    background-color: rgb(245, 245, 245);
    color: rgb(141, 141, 141);
    margin: 10px 0px;
    font-family: var(--main-font);
    padding: 15px 10px;
    box-sizing: border-box;
    border-radius: 5px;
}
.up_mainSection__file-box {
    font-size: 0.9rem;
    cursor: pointer;
}
.up_mainSection__file-name {
    margin-left: 10px;
}

.up_mainSection__file:hover {
    background-color: var(--main-violet-color);
    color: #fff;
    transition: 0.3s;
}
.up_mainSection__menu {
    margin-top: 10px;
    font-family: var(--main-font);
    padding: 10px;
}
.up_mainSection__menu-item-link {
    text-decoration: none;
}
.up_mainSection__file-atrubutes {
    margin-top: 10px;
    font-size: 0.8rem;
    font-family: var(--main-font);
    color: rgb(141, 141, 141);
}
.up_mainSection__file-atrubutes-name {
    margin-left: 40px;
}
.up_mainSection__file-atrubutes-size {
    margin-left: 5.5%;
}
.up_mainSection__file-atrubutes-up-date {
    margin-left: 30.2%;
}

.up_mainSection__file--cell {
    width: 33%;
    margin:0px;
    display: inline-block;
}
.up_mainSection__file--cell:nth-child(3) {
    width: 10%;
}
/* Context menu */
.up_file__contextmenu {
    position: absolute;
    top:100px;
    left: 0px;
    display: flex;
    flex-direction: column;
    width: 175px;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
              0 2px 2px rgba(0,0,0,0.12), 
              0 4px 4px rgba(0,0,0,0.12), 
              0 8px 8px rgba(0,0,0,0.12),
              0 16px 16px rgba(0,0,0,0.12);
}
.up_file__contextmenu-item {
    background-color: #fff;
    border: 0px;
    z-index: 1;
    color: #7371d5;
    font-family: var(--main-font);
    padding: 10px;
    width: 100%;
    text-align: left;
    border-bottom: 1px solid #e2e2e2;
    
}
.up_file__contextmenu-item:first-child {
    border-radius: 5px 5px 0px 0px;
}
.up_file__contextmenu-item:last-child {
    border-radius: 0px 0px 5px 5px;
}
.up_file__contextmenu-item:hover {
    color: rgb(78, 78, 78);
    background-color: rgb(230, 230, 230);
    transition: 0.3s;
    cursor: pointer;
}
.up_file__contextmenu-btn-text {
    margin-left: 10px;
}


/* Share modal */
.up_ShareModal {
    position: absolute;
    top: 20vh;
    left: 35vw;
    z-index: 2;
    width: 600px;
   
    margin: 0px auto;
    
    font-family: var(--main-font);
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
    0 2px 2px rgba(0,0,0,0.12), 
    0 4px 4px rgba(0,0,0,0.12), 
    0 8px 8px rgba(0,0,0,0.12),
    0 16px 16px rgba(0,0,0,0.12);
    background-color: #fff;
}

.up_ShareModal__header {
    background-color: var(--main-violet-color);
    border-radius: 5px 5px 0px 0px;
    color: #fff;
    font-weight: 400;
    box-sizing: border-box;
    padding: 10px;
    font-size: 1.3rem;
}

.up_ShareModal__content {
    box-sizing: border-box;
    padding: 10px 20px 20px;
    color: rgb(141, 141, 141);
    border-radius: 0px 0px 5px 5px;
}
.up_ShareModal__sharelink {
    text-decoration: none;
    color: var(--main-violet-color);
    margin-left: 10px;
}
.up_ShareModal__p {
    font-size: 0.9rem;
    margin-top: 10px;
}
.up_ShareModal__file {
    margin-top: 5px;
    display: inline-block;
    font-size: 1rem;
    font-weight: 400;
}
.up_ShareModal__filename {
    display: inline;
    font-size: 1rem;
    margin-left: 10px;
    font-weight: 400;
}
.up_ShareModal__filesize {
    display: inline;
    margin-left: 5px;
    font-weight: 400;
    font-size: 0.9rem;
}
.up_ShareMOdal__CloseBtn {
    background-color: rgb(245, 245, 245);
    border: 0px;
    border-radius: 5px;
    color: rgb(141, 141, 141);
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}

.up_ShareMOdal__SwitchSBtn {
    background-color: var(--main-violet-color);
    border: 0px;
    border-radius: 5px;
    color: #fff;
    padding: 10px 20px;
    margin-top: 10px;
    margin-left: 10px;
    cursor: pointer;
}

.up_ShareModal__btns {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

/* Delete modal */
.up_DeleteModal {
    position: absolute;
    top: 20vh;
    left: 35vw;
    z-index: 2;
    width: 600px;
   
    margin: 0px auto;
    
    font-family: var(--main-font);
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
    0 2px 2px rgba(0,0,0,0.12), 
    0 4px 4px rgba(0,0,0,0.12), 
    0 8px 8px rgba(0,0,0,0.12),
    0 16px 16px rgba(0,0,0,0.12);
    background-color: #fff;
}

.up_DeleteModal__header {
    background-color: var(--main-violet-color);
    border-radius: 5px 5px 0px 0px;
    color: #fff;
    font-weight: 400;
    box-sizing: border-box;
    padding: 10px;
    font-size: 1.3rem;
}

.up_DeleteModal__content {
    box-sizing: border-box;
    padding: 10px 20px 20px;
    color: rgb(141, 141, 141);
    border-radius: 0px 0px 5px 5px;
}
.up_DeleteModal__sharelink {
    text-decoration: none;
    color: var(--main-violet-color);
    margin-left: 10px;
}
.up_DeleteModal__p {
    font-size: 0.9rem;
    margin-top: 10px;
}
.up_DeleteModal__file {
    margin-top: 5px;
    display: inline-block;
    font-size: 1rem;
    font-weight: 400;
}
.up_DeleteModal__filename {
    display: inline;
    font-size: 1rem;
    margin-left: 10px;
    font-weight: 400;
}
.up_DeleteModal__filesize {
    display: inline;
    margin-left: 5px;
    font-weight: 400;
    font-size: 0.9rem;
}
.up_DeleteModal__CloseBtn {
    background-color: rgb(245, 245, 245);
    border: 0px;
    border-radius: 5px;
    color: rgb(141, 141, 141);
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}

.up_DeleteModal__DeleteBtn {
    background-color: var(--main-violet-color);
    border: 0px;
    border-radius: 5px;
    color: #fff;
    padding: 10px 20px;
    margin-top: 10px;
    margin-left: 10px;
    cursor: pointer;
}

.up_DeleteModal__btns {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

/* User settings */ 

.up_mainSection--settingsPanel {
    width: 60vw;
    margin: 0px auto;
    margin-top: 10vh;
}
.up_mainSection__form {
    font-family: var(--main-font);
    margin-top: 30px;
}

.up_mainSection__form-header {
    margin-top: 20px;
    font-size: 1rem;
    color: var(--main-violet-color);
}
.up_mainSection__form-label {
    font-size: 0.8rem;
    display: block;
    margin: 25px 0px 10px;
    font-weight: 600;
}

.up_mainSection__form-input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #b3b3b3;
    font-size: 0.7rem;
    width: 200px;
}

.up_mainSection__form-btn {
    cursor: pointer;
    color: #fff;
    background-color: var(--main-violet-color);
    padding: 10px;
    border: 0px;
    border-radius: 5px;
    display: block;
    width: 70px;
    margin-top: 10px;
}

.up_mainSection__form-btns {
    display: flex;
    justify-content: flex-end;
}

.up_cancelBtn {
    background-color: rgb(238, 238, 238);
    color: rgb(141, 141, 141);
    margin-right: 10px; 
}

.up_mainSection__h {
    margin-left: 20px;
    margin-bottom: 20px;
}

/*Error modal*/ 
.up_ErrorModal {
    position: absolute;
    top: 20vh;
    left: 35vw;
    z-index: 2;
    width: 600px;
    margin: 0px auto;
    font-family: var(--main-font);
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
    0 2px 2px rgba(0,0,0,0.12), 
    0 4px 4px rgba(0,0,0,0.12), 
    0 8px 8px rgba(0,0,0,0.12),
    0 16px 16px rgba(0,0,0,0.12);
    background-color: #fff;
}

.up_ErrorModal__header {
    background-color: var(--main-red-color);
    border-radius: 5px 5px 0px 0px;
    color: #fff;
    font-weight: 400;
    box-sizing: border-box;
    padding: 10px;
    font-size: 1.3rem;
}

.up_ErrorModal__content {
    box-sizing: border-box;
    padding: 10px 20px 20px;
    color: rgb(141, 141, 141);
    border-radius: 0px 0px 5px 5px;
}
.up_ErrorModal__sharelink {
    text-decoration: none;
    color: var(--main-violet-color);
    margin-left: 10px;
}
.up_ErrorModal__p {
    font-size: 0.9rem;
    margin-top: 10px;
}
.up_ErrorModal__file {
    margin-top: 5px;
    display: inline-block;
    font-size: 1rem;
    font-weight: 400;
}
.up_ErrorModal__filename {
    display: inline;
    font-size: 1rem;
    margin-left: 10px;
    font-weight: 400;
}
.up_ErrorModal__filesize {
    display: inline;
    margin-left: 5px;
    font-weight: 400;
    font-size: 0.9rem;
}
.up_ErrorModal__CloseBtn {
    background-color: rgb(245, 245, 245);
    border: 0px;
    border-radius: 5px;
    color: rgb(141, 141, 141);
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}

.up_ErrorModal__btns {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.up_RenameModal__filename {
    box-sizing: border-box;
    padding: 5px;
    color: rgb(141, 141, 141);
    border: 0px;
    border-bottom: 1px solid var(--main-violet-color);
}
/* Rename modal */
.up_RenameModal {
    position: absolute;
    top: 20vh;
    left: 35vw;
    z-index: 2;
    width: 600px;
   
    margin: 0px auto;
    
    font-family: var(--main-font);
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
    0 2px 2px rgba(0,0,0,0.12), 
    0 4px 4px rgba(0,0,0,0.12), 
    0 8px 8px rgba(0,0,0,0.12),
    0 16px 16px rgba(0,0,0,0.12);
    background-color: #fff;
}

.up_RenameModal__header {
    background-color: var(--main-violet-color);
    border-radius: 5px 5px 0px 0px;
    color: #fff;
    font-weight: 400;
    box-sizing: border-box;
    padding: 10px;
    font-size: 1.3rem;
}

.up_RenameModal__content {
    box-sizing: border-box;
    padding: 10px 20px 20px;
    color: rgb(141, 141, 141);
    border-radius: 0px 0px 5px 5px;
}

.up_RenameModal__p {
    font-size: 0.9rem;
    margin-top: 10px;
}
.up_RenameModal__file {
    margin-top: 5px;
    display: inline-block;
    font-size: 1rem;
    font-weight: 400;
}
.up_RenameModal__filename {
    display: inline;
    font-size: 1rem;
    margin-left: 10px;
    font-weight: 400;
}
.up_RenameModal__filesize {
    display: inline;
    margin-left: 5px;
    font-weight: 400;
    font-size: 0.9rem;
}
.up_RenameModal__CloseBtn {
    background-color: rgb(245, 245, 245);
    border: 0px;
    border-radius: 5px;
    color: rgb(141, 141, 141);
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}

.up_RenameModal__RenameBtn {
    background-color: var(--main-violet-color);
    border: 0px;
    border-radius: 5px;
    color: #fff;
    padding: 10px 20px;
    margin-top: 10px;
    margin-left: 10px;
    cursor: pointer;
}

.up_RenameModal__btns {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}


/* New folder */ 

.up_mainSeciton__newFoderBtn {
    background: inherit;
    border: 0px;
    cursor: pointer;
    float: right;
    font-weight: bold;
    font-size: 0.9rem;
    color: rgb(141, 141, 141);
}
.up_mainSeciton__newFoderBtn:hover {
    color: var(--main-violet-color);
    transition: 0.3s;
}

.up_NewFolderModal {
    position: absolute;
    top: 20vh;
    left: 35vw;
    z-index: 2;
    width: 600px;
   
    margin: 0px auto;
    
    font-family: var(--main-font);
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
    0 2px 2px rgba(0,0,0,0.12), 
    0 4px 4px rgba(0,0,0,0.12), 
    0 8px 8px rgba(0,0,0,0.12),
    0 16px 16px rgba(0,0,0,0.12);
    background-color: #fff;
}

.up_NewFolderModal__header {
    background-color: var(--main-violet-color);
    border-radius: 5px 5px 0px 0px;
    color: #fff;
    font-weight: 400;
    box-sizing: border-box;
    padding: 10px;
    font-size: 1.3rem;
}

.up_NewFolderModal__content {
    box-sizing: border-box;
    padding: 10px 20px 20px;
    color: rgb(141, 141, 141);
    border-radius: 0px 0px 5px 5px;
}

.up_NewFolderModal__p {
    font-size: 0.9rem;
    margin-top: 10px;
}
.up_NewFolderModal__name {
    margin-top: 5px;
    display: inline-block;
    font-size: 1rem;
    font-weight: 400;
}
.up_NewFolderModal__foldername {
    box-sizing: border-box;
    padding: 5px;
    color: rgb(141, 141, 141);
    border: 0px;
    border-bottom: 1px solid var(--main-violet-color);
    display: inline;
    font-size: 0.9rem;
    margin-left: 10px;
    font-weight: 400;
}

.up_NewFolderModal__CloseBtn {
    background-color: rgb(245, 245, 245);
    border: 0px;
    border-radius: 5px;
    color: rgb(141, 141, 141);
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}

.up_NewFolderModal__CreateBtn {
    background-color: var(--main-violet-color);
    border: 0px;
    border-radius: 5px;
    color: #fff;
    padding: 10px 20px;
    margin-top: 10px;
    margin-left: 10px;
    cursor: pointer;
}

.up_NewFolderModal__btns {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.up_back_to_pFolder {
    background-color: var(--main-violet-color);
    border: 0px;
    border-radius: 5px;
    font-size: 0.9rem;
    color: rgb(255, 255, 255);
    padding: 15px 30px;
    margin-top: 10px;
    cursor: pointer;
    display: inline-block;
    width: 100%;
    text-align: left;
    display: none;
}

.up_back_to_pFolder:hover {
    background-color: var(--main-darker-red-color);
    transition: 0.3s;
}

.up_mainSection--sharedFile {
    width: 90vw;
    margin: 0px auto;
}